<div class="create-playlist">
    <mat-form-field>
        <mat-label>Playlist name</mat-label>
        <input matInput type="text" [(ngModel)]="newListValue">
        <button mat-button matSuffix mat-icon-button aria-label="Clear" (click)="newListValue=''">
            <mat-icon>close</mat-icon>
        </button>
    </mat-form-field>

    <button mat-flat-button class="playlist-add-btn" color="accent" (click)="createNew()">
        Create
    </button>
</div>

<mat-list>
    <div mat-subheader>Playlists</div>
    <app-playlist-item *ngFor="let playlist of playlists | async" [playlist]="playlist"></app-playlist-item>
</mat-list>