<mat-list-item>
    <mat-icon mat-list-icon>audiotrack</mat-icon>
    <div mat-line>{{ song.name }}</div>
    <div mat-line> 
        <span class="song-left">
            {{ song.album }}
        </span>

        <span class="song-right">
            <span class="song-part">
                <mat-icon aria-hidden="false" aria-label="Release date icon">insert_invitation</mat-icon> 
                {{ song.year }}
            </span>
            <span class="song-part">
                <mat-icon aria-hidden="false" aria-label="Duration icon">schedule</mat-icon> 
                {{ song.duration }}
            </span>
            <span class="song-part">
                <mat-icon aria-hidden="false" aria-label="Genre icon">equalizer</mat-icon> 
                {{ song.genre }}
            </span>
        </span>
    </div>
    <mat-divider></mat-divider>
</mat-list-item>
